In [943]:
import pandas as pd

df = pd.read_csv('data/weatherAUS.csv')

In [944]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No

In [945]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RISK_MM        142193 non-null  float64
 23  RainTomorrow   142193 non-null  object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB

In [946]:
data = df.drop(['RISK_MM'],axis=1)

In [947]:
data['Date'] = pd.to_datetime(data['Date'])

In [948]:
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day

In [949]:
data.drop(['Date'],axis=1,inplace=True)

In [950]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Day
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,1007.1,8.0,NaN,16.9,21.8,No,No,2008,12,1
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,1007.8,NaN,NaN,17.2,24.3,No,No,2008,12,2
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,1008.7,NaN,2.0,21.0,23.2,No,No,2008,12,3
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,1012.8,NaN,NaN,18.1,26.5,No,No,2008,12,4
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,1006.0,7.0,8.0,17.8,29.7,No,No,2008,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,E,...,1021.2,NaN,NaN,9.4,20.9,No,No,2017,6,20
142189,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,...,1020.3,NaN,NaN,10.1,22.4,No,No,2017,6,21
142190,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,...,1019.1,NaN,NaN,10.9,24.5,No,No,2017,6,22
142191,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,...,1016.8,NaN,NaN,12.5,26.1,No,No,2017,6,23
142192,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,1016.5,3.0,2.0,15.1,26.0,No,No,2017,6,24

In [951]:
data[['Evaporation','Sunshine']].isnull().sum()/ len(data)

Evaporation    0.427890
Sunshine       0.476929
dtype: float64

In [952]:
data.drop(['Evaporation','Sunshine'],axis = 1,inplace=True)

In [953]:
data.head()

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Day
0,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,...,1007.1,8.0,NaN,16.9,21.8,No,No,2008,12,1
1,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,...,1007.8,NaN,NaN,17.2,24.3,No,No,2008,12,2
2,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,...,1008.7,NaN,2.0,21.0,23.2,No,No,2008,12,3
3,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,...,1012.8,NaN,NaN,18.1,26.5,No,No,2008,12,4
4,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,...,1006.0,7.0,8.0,17.8,29.7,No,No,2008,12,5

In [954]:
data.isnull().sum()/ len(data)

Location         0.000000
MinTemp          0.004480
MaxTemp          0.002265
Rainfall         0.009888
WindGustDir      0.065615
WindGustSpeed    0.065193
WindDir9am       0.070418
WindDir3pm       0.026570
WindSpeed9am     0.009480
WindSpeed3pm     0.018496
Humidity9am      0.012476
Humidity3pm      0.025388
Pressure9am      0.098556
Pressure3pm      0.098324
Cloud9am         0.377353
Cloud3pm         0.401525
Temp9am          0.006358
Temp3pm          0.019171
RainToday        0.009888
RainTomorrow     0.000000
Year             0.000000
Month            0.000000
Day              0.000000
dtype: float64

In [955]:
data.drop(['Cloud9am','Cloud3pm'],axis=1,inplace=True)

In [956]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       142193 non-null  object
 1   MinTemp        141556 non-null  float64
 2   MaxTemp        141871 non-null  float64
 3   Rainfall       140787 non-null  float64
 4   WindGustDir    132863 non-null  object
 5   WindGustSpeed  132923 non-null  float64
 6   WindDir9am     132180 non-null  object
 7   WindDir3pm     138415 non-null  object
 8   WindSpeed9am   140845 non-null  float64
 9   WindSpeed3pm   139563 non-null  float64
 10  Humidity9am    140419 non-null  float64
 11  Humidity3pm    138583 non-null  float64
 12  Pressure9am    128179 non-null  float64
 13  Pressure3pm    128212 non-null  float64
 14  Temp9am        141289 non-null  float64
 15  Temp3pm        139467 non-null  float64
 16  RainToday      140787 non-null  object
 17  RainTomorrow   142193 non-null  object
 18  Year           142193 non-null  int32
 19  Month          142193 non-null  int32
 20  Day            142193 non-null  int32
dtypes: float64(12), int32(3), object(6)
memory usage: 21.2+ MB

In [957]:
cat = [var for var in data.columns if data[var].dtype == object]

In [958]:
data[cat]

       Location WindGustDir WindDir9am WindDir3pm RainToday RainTomorrow
0        Albury           W          W        WNW        No           No
1        Albury         WNW        NNW        WSW        No           No
2        Albury         WSW          W        WSW        No           No
3        Albury          NE         SE          E        No           No
4        Albury           W        ENE         NW        No           No
...         ...         ...        ...        ...       ...          ...
142188    Uluru           E        ESE          E        No           No
142189    Uluru           E         SE        ENE        No           No
142190    Uluru         NNW         SE          N        No           No
142191    Uluru           N         SE        WNW        No           No
142192    Uluru          SE        SSE          N        No           No

[142193 rows x 6 columns]

In [959]:
data[cat].isnull().sum()/len(data[cat])

Location        0.000000
WindGustDir     0.065615
WindDir9am      0.070418
WindDir3pm      0.026570
RainToday       0.009888
RainTomorrow    0.000000
dtype: float64

In [960]:
for col in cat:
    if data[col].isnull().sum() > 0:
        data[col].fillna(data[col].mode()[0], inplace=True)
#các giá trị NaN trong các cột có kiểu dữ liệu là object của DataFrame data sẽ được thay thế bằng giá trị mode của từng cột tương ứng

In [961]:
data[cat].isnull().sum() / len(data)

Location        0.0
WindGustDir     0.0
WindDir9am      0.0
WindDir3pm      0.0
RainToday       0.0
RainTomorrow    0.0
dtype: float64

In [962]:
print(pd.get_dummies(df['Location']))
#Cụ thể, đoạn mã này thực hiện mã hóa one-hot encoding cho cột 'Location', biến đổi các giá trị trong cột thành các biến giả (dummy variables) dạng 0 và 1, 
#mỗi biến giả tương ứng với một giá trị duy nhất trong cột.

        Adelaide  Albany  Albury  AliceSprings  BadgerysCreek  Ballarat  \
0          False   False    True         False          False     False
1          False   False    True         False          False     False
2          False   False    True         False          False     False
3          False   False    True         False          False     False
4          False   False    True         False          False     False
...          ...     ...     ...           ...            ...       ...
142188     False   False   False         False          False     False
142189     False   False   False         False          False     False
142190     False   False   False         False          False     False
142191     False   False   False         False          False     False
142192     False   False   False         False          False     False

        Bendigo  Brisbane  Cairns  Canberra  ...  Townsville  Tuggeranong  \
0         False     False   False     False  ...       False        False
1         False     False   False     False  ...       False        False
2         False     False   False     False  ...       False        False
3         False     False   False     False  ...       False        False
4         False     False   False     False  ...       False        False
...         ...       ...     ...       ...  ...         ...          ...
142188    False     False   False     False  ...       False        False
142189    False     False   False     False  ...       False        False
142190    False     False   False     False  ...       False        False
142191    False     False   False     False  ...       False        False
142192    False     False   False     False  ...       False        False

        Uluru  WaggaWagga  Walpole  Watsonia  Williamtown  Witchcliffe  \
0       False       False    False     False        False        False
1       False       False    False     False        False        False
2       False       False    False     False        False        False
3       False       False    False     False        False        False
4       False       False    False     False        False        False
...       ...         ...      ...       ...          ...          ...
142188   True       False    False     False        False        False
142189   True       False    False     False        False        False
142190   True       False    False     False        False        False
142191   True       False    False     False        False        False
142192   True       False    False     False        False        False

        Wollongong  Woomera
0            False    False
1            False    False
2            False    False
3            False    False
4            False    False
...            ...      ...
142188       False    False
142189       False    False
142190       False    False
142191       False    False
142192       False    False

[142193 rows x 49 columns]

In [963]:
data.drop(['Rainfall','WindSpeed9am','WindSpeed3pm'],axis=1,inplace=True)

In [964]:
numerical = [col for col in data.columns if data[col].dtype != object]
numerical
#tạo ra một danh sách các cột có kiểu dữ liệu không phải là object

['MinTemp',
 'MaxTemp',
 'WindGustSpeed',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm',
 'Year',
 'Month',
 'Day']

In [965]:
data[numerical].isnull().sum()/ len(data[numerical])

MinTemp          0.004480
MaxTemp          0.002265
WindGustSpeed    0.065193
Humidity9am      0.012476
Humidity3pm      0.025388
Pressure9am      0.098556
Pressure3pm      0.098324
Temp9am          0.006358
Temp3pm          0.019171
Year             0.000000
Month            0.000000
Day              0.000000
dtype: float64

In [966]:
round(data[numerical].describe(),2)

,MinTemp,MaxTemp,WindGustSpeed,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,Year,Month,Day
count,141556.00,141871.00,132923.00,140419.00,138583.00,128179.00,128212.00,141289.00,139467.00,142193.00,142193.00,142193.00
mean,12.19,23.23,39.98,68.84,51.48,1017.65,1015.26,16.99,21.69,2012.76,6.40,15.72
std,6.40,7.12,13.59,19.05,20.80,7.11,7.04,6.49,6.94,2.54,3.43,8.80
min,-8.50,-4.80,6.00,0.00,0.00,980.50,977.10,-7.20,-5.40,2007.00,1.00,1.00
25%,7.60,17.90,31.00,57.00,37.00,1012.90,1010.40,12.30,16.60,2011.00,3.00,8.00
50%,12.00,22.60,39.00,70.00,52.00,1017.60,1015.20,16.70,21.10,2013.00,6.00,16.00
75%,16.80,28.20,48.00,83.00,66.00,1022.40,1020.00,21.60,26.40,2015.00,9.00,23.00
max,33.90,48.10,135.00,100.00,100.00,1041.00,1039.60,40.20,46.70,2017.00,12.00,31.00

In [967]:
for col in numerical:
    if data[col].isnull().sum() > 0:
        data[col].fillna(data[col].median(),inplace=True)
#điền giá trị thiếu (NaN) trong các cột dữ liệu số của DataFrame data bằng giá trị trung vị (median) của từng cột

In [968]:
data[numerical].isnull().sum()/ len(data[numerical])

MinTemp          0.0
MaxTemp          0.0
WindGustSpeed    0.0
Humidity9am      0.0
Humidity3pm      0.0
Pressure9am      0.0
Pressure3pm      0.0
Temp9am          0.0
Temp3pm          0.0
Year             0.0
Month            0.0
Day              0.0
dtype: float64

In [969]:
data.head()

,Location,MinTemp,MaxTemp,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Day
0,Albury,13.4,22.9,W,44.0,W,WNW,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No,2008,12,1
1,Albury,7.4,25.1,WNW,44.0,NNW,WSW,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No,2008,12,2
2,Albury,12.9,25.7,WSW,46.0,W,WSW,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No,2008,12,3
3,Albury,9.2,28.0,NE,24.0,SE,E,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No,2008,12,4
4,Albury,17.5,32.3,W,41.0,ENE,NW,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No,2008,12,5

In [970]:
numerical

['MinTemp',
 'MaxTemp',
 'WindGustSpeed',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm',
 'Year',
 'Month',
 'Day']

In [971]:
data[numerical].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   MinTemp        142193 non-null  float64
 1   MaxTemp        142193 non-null  float64
 2   WindGustSpeed  142193 non-null  float64
 3   Humidity9am    142193 non-null  float64
 4   Humidity3pm    142193 non-null  float64
 5   Pressure9am    142193 non-null  float64
 6   Pressure3pm    142193 non-null  float64
 7   Temp9am        142193 non-null  float64
 8   Temp3pm        142193 non-null  float64
 9   Year           142193 non-null  int32
 10  Month          142193 non-null  int32
 11  Day            142193 non-null  int32
dtypes: float64(9), int32(3)
memory usage: 11.4 MB

In [972]:
data['RainTomorrow'] = data['RainTomorrow'].map({'Yes' : 1,'No': 0}).astype('int32')
data['RainToday'] = data['RainToday'].map({'Yes' : 1,'No': 0}).astype('int32')

In [973]:
data = pd.concat([data[numerical],data[['RainToday','RainTomorrow']],pd.get_dummies(data.Location),pd.get_dummies(data.WindGustDir),pd.get_dummies(data.WindDir9am),pd.get_dummies(data.WindDir3pm)],axis=1)

In [974]:
data.head()

,MinTemp,MaxTemp,WindGustSpeed,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,Year,...,NNW,NW,S,SE,SSE,SSW,SW,W,WNW,WSW
0,13.4,22.9,44.0,71.0,22.0,1007.7,1007.1,16.9,21.8,2008,...,False,False,False,False,False,False,False,False,True,False
1,7.4,25.1,44.0,44.0,25.0,1010.6,1007.8,17.2,24.3,2008,...,False,False,False,False,False,False,False,False,False,True
2,12.9,25.7,46.0,38.0,30.0,1007.6,1008.7,21.0,23.2,2008,...,False,False,False,False,False,False,False,False,False,True
3,9.2,28.0,24.0,45.0,16.0,1017.6,1012.8,18.1,26.5,2008,...,False,False,False,False,False,False,False,False,False,False
4,17.5,32.3,41.0,82.0,33.0,1010.8,1006.0,17.8,29.7,2008,...,False,True,False,False,False,False,False,False,False,False

In [975]:
data.describe()

,MinTemp,MaxTemp,WindGustSpeed,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,Year,Month,Day,RainToday,RainTomorrow
count,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000,142193.000000
mean,12.185565,23.225365,39.920123,68.858235,51.495742,1017.648460,1015.252481,16.985681,21.675977,2012.758926,6.402544,15.715084,0.221213,0.224181
std,6.388936,7.109617,13.140632,18.932512,20.532227,6.746267,6.681810,6.472206,6.871243,2.541256,3.426506,8.798150,0.415065,0.417043
min,-8.500000,-4.800000,6.000000,0.000000,0.000000,980.500000,977.100000,-7.200000,-5.400000,2007.000000,1.000000,1.000000,0.000000,0.000000
25%,7.600000,17.900000,31.000000,57.000000,37.000000,1013.500000,1011.000000,12.300000,16.700000,2011.000000,3.000000,8.000000,0.000000,0.000000
50%,12.000000,22.600000,39.000000,70.000000,52.000000,1017.600000,1015.200000,16.700000,21.100000,2013.000000,6.000000,16.000000,0.000000,0.000000
75%,16.800000,28.200000,46.000000,83.000000,65.000000,1021.800000,1019.400000,21.500000,26.300000,2015.000000,9.000000,23.000000,0.000000,0.000000
max,33.900000,48.100000,135.000000,100.000000,100.000000,1041.000000,1039.600000,40.200000,46.700000,2017.000000,12.000000,31.000000,1.000000,1.000000

In [976]:
x = data.drop(['RainTomorrow'],axis=1)
y = data['RainTomorrow']

In [977]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

x = scaler.fit_transform(x)
# các giá trị của mỗi đặc trưng sẽ được chuyển đổi sao cho chúng nằm trong phạm vi [0, 1], bằng cách lấy giá trị tối thiểu và giá trị tối đa của mỗi đặc trưng 
# để co giãn dữ liệu. Điều này giúp cải thiện hiệu suất của một số mô hình máy học

In [978]:
print(x)

[[0.51650943 0.52362949 0.29457364 ... 0.         1.         0.        ]
 [0.375      0.56521739 0.29457364 ... 0.         0.         1.        ]
 [0.50471698 0.57655955 0.31007752 ... 0.         0.         1.        ]
 ...
 [0.28537736 0.56899811 0.12403101 ... 0.         0.         0.        ]
 [0.32783019 0.59924386 0.24031008 ... 0.         1.         0.        ]
 [0.38443396 0.60113422 0.17054264 ... 0.         0.         0.        ]]

In [979]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [980]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [981]:
model.fit(x_train,y_train)

LogisticRegression()

In [982]:
y_pred = model.predict(x_test)

In [983]:
from sklearn.metrics import accuracy_score

print('Accuracy:',accuracy_score(y_test,y_pred))

Accuracy: 0.843686998921656

In [984]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings
# warnings.filterwarnings('ignore')

# Hàm sigmoid
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

# Hàm mất mát (Loss Function)
def loss_function(y, p):
    return -np.mean(y * np.log(p) + (1 - y) * np.log(1 - p))

# Gradient Descent
def gradient_descent(X, y, learning_rate=0.1, n_iterations=10000):
    n_samples, n_features = X.shape
    w = np.zeros((n_features+1, 1))
    y = y.values.reshape((-1, 1))

    for _ in range(n_iterations):
        z = np.dot(X, w[1:]) + w[0] 
        p = sigmoid(z)
        gradient = np.dot(X.T, (p - y)) /n_samples
        w[1:] -= learning_rate * gradient
        w[0] -= np.mean(p - y) * learning_rate
    return w

# Hàm dự đoán
def predict(X, w):
    p = sigmoid(np.dot(X, w[1:]) + w[0])
    return (p >= 0.5).astype(int)

In [985]:
w = gradient_descent(x_train,y_train)

In [986]:
y_pred_manual = predict(x_test,w)
print('Accuracy:',accuracy_score(y_test,y_pred_manual))

Accuracy: 0.8399596793098598

In [ ]:
#10000 => Accuracy: 0.8399596793098598
#50000 => Accuracy: 0.8416240798912279